ion-content {
   background: linear-gradient(to right, #ee9ca7, #ffdde1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2 {
  color:rgb(255, 0, 0);
  text-align: center;
}

p{
  text-align: justify;
  font-family: 'Courier New', Courier, monospace;
}

ion-item{
  background: white;

}

  
