ion-content {
  background: linear-gradient(to left, #7f7fd5, #86a8e7, #91eae4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h2 {
  color:black;
  text-align: center;
}

p{
  text-align: justify;
  font-family: 'Courier New', Courier, monospace;
}

ion-item{
  background: white;

}

.heading2{
  
}